<fieldset>
     <legend>scale in/out level <span class="scale-level">x</span></legend>
     <label>trigger after</label>
     <label>size in %</label>
     <label>auto levels</label>
     <div class="input-wrap"><input class="scale-trigger spinner"></div>
     <div class="input-wrap"><input class="scale-size spinner"></div>
     <div class="input-wrap"><input class="scale-auto-levels spinner"></div>
     <label>level %</label><div style="float:left"><input type=checkbox class="scale-auto"> auto</div>
     <div class="clear"/>
     <div class="input-wrap"><input class="scale-value spinner"></div>
     <a class="scale-add-btn plastic">add</a>
     <a class="scale-remove-btn plastic">remove</a>
</fieldset>