<link rel="stylesheet" href="../css/table.css">
<div class="module-table">
    <table cellspacing='0' class="">
        <!-- Table Header -->
        <thead>
        <tr>
            <th>Action</th>
            <th>Ticket</th>
            <th class="selected">Open Time</th>
            <th>Symbol</th>
        </tr>
        </thead>
        <!-- Table Header -->
        <!-- Table Body -->
        <tbody>
        <tr>
            <td>
                <ul>
                    <li><i class="icon-settings"></i></li>
                    <li><i class="icon-settings"></i></li>
                    <li><i class="icon-settings"></i></li>
                </ul>
            </td>
            <td>123</td>
            <td class="selected">Yes</td>
            <td>EUR/USD</td>
        </tr>
        <!-- Table Row -->
        <tr class="even">
            <td>&nbsp;</td>
            <td>123</td>
            <td class="selected">Yes</td>
            <td>EUR/USD</td>
        </tr>
        <!-- Darker Table Row -->
        <tr class="selected">
            <td>&nbsp;</td>
            <td>123</td>
            <td class="selected">No</td>
            <td>EUR/USD</td>
        </tr>
        <tr class="even">
            <td>&nbsp;</td>
            <td>123</td>
            <td class="selected">No</td>
            <td>EUR/USD</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>123</td>
            <td class="selected">Yes</td>
            <td>EUR/USD</td>
        </tr>
        <tr class="even">
            <td>&nbsp;</td>
            <td>123</td>
            <td class="selected">yes</td>
            <td>EUR/USD</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>123</td>
            <td class="selected">No</td>
            <td>EUR/USD</td>
        </tr>
        <tr class="even">
            <td>&nbsp;</td>
            <td>123</td>
            <td class="selected"><a href="#inexistent-id">Another</a></td>
            <td>EUR/USD</td>
        </tr>
        <tr class="group">
            <td colspan="4">This is group of some rows</td>
        </tr>
        <tr class="even subgroup">
            <td>Hello</td>
            <td>&nbsp;</td>
            <td class="selected">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="subgroup">
            <td>Hello</td>
            <td>&nbsp;</td>
            <td class="selected">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="even subgroup">
            <td>Hello</td>
            <td>&nbsp;</td>
            <td class="selected">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        </tbody>
        <!-- Table Body -->

    </table>
</div>
